{% extends "base_login.html" %}


{% block content %}
    {% if form.errors %}
        <p>Hubo un error, comprueba tus datos.</p>
    {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.email.label_tag }} {{ form.email }}
            {{ form.password1.label_tag }} {{ form.password1 }}
            {{ form.password2.label_tag }} {{ form.password2 }}
            <input type="submit" name="submit" value="Registrar">
        </form>    
        <a href="{% url 'login' %}?next={{ request.path }}">Volver</a>


{% endblock content %}